<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.1s">Videos</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="../../assets/video/vesta-video1.mp4" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog-item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="../../assets/video/vesta-video2.mp4" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="../../assets/video/vesta-video3.mp4" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>