<div class="container">
    <div class="section-header text-center mt-3">
        <h3 class="wow fadeInUp" data-wow-delay="0.1s">- All Products -</h3>
    </div>
    <div class="row">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="d-flex header gap-3">
                <p class="item-menu" 
                   [class.selected]="selectedView === 'All'" 
                   (click)="productView('All')">All</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Tub_1l_and_500ml'" 
                   (click)="productView('Tub_1l_and_500ml')">Tub 1l & 500ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Conevita_big_100ml_and_small_60ml'" 
                   (click)="productView('Conevita_big_100ml_and_small_60ml')">Conevita big 100ml & small 60ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Fruitae_50ml'" 
                   (click)="productView('Fruitae_50ml')">Fruitae 50ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Ice_Crush_50ml'" 
                   (click)="productView('Ice_Crush_50ml')">Ice Crush 50ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Milk_Lolly_60ml'" 
                   (click)="productView('Milk_Lolly_60ml')">Milk Lolly 60ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Ice_Cream_Bar_70ml'" 
                   (click)="productView('Ice_Cream_Bar_70ml')">Ice Cream Bar 70ml</p>
              </div>
              <div class="d-flex gap-3 header">
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Sundae_125ml'" 
                   (click)="productView('Sundae_125ml')">Sundae 125ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Fundae_150ml'" 
                   (click)="productView('Fundae_150ml')">Fundae 150ml</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Ball'" 
                   (click)="productView('Ball')">Ball</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Paper_Cup'" 
                   (click)="productView('Paper_Cup')">Paper Cup</p>
                <p class="item-menu" 
                   [class.selected]="selectedView === 'Bulk_Pack_4l'" 
                   (click)="productView('Bulk_Pack_4l')">Bulk Pack 4l</p>
              </div>              
        </div>
    </div>
    <router-outlet></router-outlet>
</div>