<div class="wrapper">
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="index.html">
                            <h1>Soft Stories</h1>
                            <!-- <img src="img/logo.jpg" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-calendar"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Opening Hour</h3>
                                    <p>Mon - Fri, 8:00 - 9:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Call Us</h3>
                                    <p>+012 345 6789</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-send-mail"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email Us</h3>
                                    <p>info@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index.html" class="nav-item nav-link ">Home</a>
                        <a href="screeningform.html" class="nav-item nav-link active">Screening Form</a>

                    </div>
                    <div class="ml-auto">
                        Abraham <a title="Logout" href="login.html" style="cursor: pointer;color:white;"><i
                                class="fas fa-sign-in-alt"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->


    <div class="page-header" style="margin-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Screening Form</h2>
                    <h5>Planning Building and Code Enforcement</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none">
        <div class="col-md-12 container text-color-black">
            <blockquote class="wp-block-quote is-layout-flow wp-block-quote-is-layout-flow blockquote-primary"
                style="margin-left:10px">
                <p>THIS DRAFT IS NOT FOR DISTRIBUTION. ITS ONLY PURPOSE IS TO RAISE ISSUES THAT WILL NEED TO BE
                    ADDRESSED
                    DURING PROGRAM
                    IMPLEMENTATION, AFTER THE ORDINANCE IS APPROVED.
                    In accordance with San José Municipal Code (SJMC) Chapter 17.40, the owner of each subject
                    building (or
                    the owner’s
                    authorized agent or design professional ) shall submit this Screening Form.</p>
            </blockquote>

        </div>
    </div>


    <article style="color:black;" id="informationboard">
        <blockquote class="wp-block-quote is-layout-flow wp-block-quote-is-layout-flow  blockquote-secondary">
            <p class="lead text-justify">
                In most cases, the owner or owner's agent may complete the form. However, if the small
                building exemption (Section 3) or the exemption due to the absence of a wood-frame target
                story (Section 4, Question 3) is
                claimed, those sections and Section 6 must be completed by a California licensed architect,
                civil engineer, or structural
                engineer.
            </p>


            <p class="lead text-justify">
                Submittal of this Screening Form is required even if the building has completed voluntary
                seismic
                strengthening or if
                the building in its current condition is believed to satisfy the retrofit requirements of
                SJMC
                Chapter 17.40.
            </p>
            <p class="lead text-justify">
                A separate document, Screening Form Instructions , provides definitions, additional
                explanations,
                and examples for use
                in completing this form. Electronic versions of this Screening Form and the Instructions are
                available at ***URL TBD***
            </p>
            <p class="lead text-justify">
                Submit the completed Screening Form by ***1 yr after Eff Date tbd*** at ***PORTAL URL
                TBD***.
            </p>
        </blockquote>
    </article>

    <section class="btc-accordion" id="screeningForm">



        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion mb-2" id="accordionExample">
                        <!-- Collapse one -->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    <h5 class="py-2 text-upper"> SECTION 1 - BUILDING INFORMATION <span
                                            class="float-right"><i class="fas fa-angle-down"></i></span></h5>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show accordion-body" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Parcel Number </label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                        <small id="emailHelp" class="form-text text-muted">Also enter the Parcel
                                            Number(s) at the top of page 2 and 3. The Parcel Number is provided on
                                            your notification letter. <br />
                                            <b>Condominium owners:</b> Indicate all parcel numbers associated with
                                            the
                                            building(s) covered by this form.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Street Address </label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Building Identifier(s) </label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                        <small id="emailHelp" class="form-text text-muted">If there is only one
                                            building on this parcel, leave the Building Identifiers blank.
                                            Otherwise, see Instructions.
                                        </small>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            Does this Screening Form replace a previously submitted Screening Form
                                            for the same building ?
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    onclick="replaceForm(1)" id="exampleRadios1" value="option1">
                                                <label class="form-check-label" for="exampleRadios1">
                                                    Yes
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    onclick="replaceForm(0)" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="replaceForm">
                                        <div class="col-md-12" style="margin-left:30px">If “Yes,” indicate which of
                                            these conditions applies:
                                        </div>
                                        <div class="col-md-12">
                                            <div style="margin-left:50px">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="replaceform"
                                                        id="inlineCheckbox1" value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">Replace
                                                        the
                                                        entire previous Form.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">

                                            <div style="margin-left:50px">
                                                <div class="form-check form-check-inline col-md-8">
                                                    <input class="form-check-input" type="radio" name="replaceform"
                                                        id="replaceform" value="option1">
                                                    <label class="form-check-label" for="replaceform">Replace
                                                        only the following sections:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <option>SECTION 1 - BUILDING INFORMATION</option>
                                                        <option>SECTION 2 – ADMINISTRATIVE INFORMATION</option>
                                                        <option>SECTION 3 – SMALL BUILDING EXEMPTION</option>
                                                        <option>SECTION 4 – “SUBJECT BUILDING” CHECK</option>
                                                        <option>SECTION 5 – COMPLIANCE GROUP ASSIGNMENT</option>
                                                        <option>SECTION 6 – DESIGN PROFESSIONAL STATEMENT</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Collapse one -->

                        <!-- Collapse Two -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="py-2"> SECTION 2 – ADMINISTRATIVE INFORMATION<span
                                            class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show accordion-body" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Owner Full Name</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Owner Telephone</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Owner Email</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword4">Owner Mailing Address</label>
                                            <textarea id="taOwnerMailingAddress" name="taOwnerMailingAddress"
                                                class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Authorized agent (optional)</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Agent telephone</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Agent email address</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword4">Agent mailing address</label>
                                            <textarea id="taOwnerMailingAddress" name="taOwnerMailingAddress"
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Collapse Two -->

                        <!-- Collapse Three -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="py-2">SECTION 3 – SMALL BUILDING EXEMPTION <span
                                            class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse  show  accordion-body"
                                aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <span style="color:red">This section is optional. If your building has only 3 or
                                        4 units and has only 2
                                        stories, it might qualify for the small building exemption. See the
                                        Instructions.</span>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-8">
                                            Does the building qualify for the small building exemption based on the
                                            criteria in the Instructions?
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="buildingQuality"
                                                    onclick="bqYes()" id="buildingQualityYes" value="option1">
                                                <label class="form-check-label" for="buildingQualityYes">
                                                    Yes
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="buildingQuality"
                                                    onclick="bqNo()" id="buildingQualityNo" value="option2">
                                                <label class="form-check-label" for="buildingQualityNo">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" id="bqYes">
                                            <div style="margin-left:50px">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineCheckbox1">If
                                                        “Yes,” the building is exempt from SJMC Chapter 17.40,
                                                        pending building department approval. You may skip Sections
                                                        4 and 5, but this section and Section 6 must be completed by
                                                        a California-licensed architect, civil engineer, or
                                                        structural engineer.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="bqNo">
                                            <div style="margin-left:50px">
                                                <div class="form-check form-check-inline col-md-8">
                                                    <label class="form-check-label" for="replaceform">If “No” (or if
                                                        left blank at the owner’s option), continue with Section
                                                        4.</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Collapse Three -->

                        <!-- Collapse Four -->
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    <h5 class="py-2">SECTION 4 – “SUBJECT BUILDING” CHECK <span
                                            class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse  show  accordion-body"
                                aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row  mb-3">
                                        <div class="col-md-8">
                                            1) Was the building originally built or permitted for construction
                                            before January 1, 1990?
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="bo" id="bo1"
                                                    value="option1">
                                                <label class="form-check-label" for="bo1">
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="bo" id="bo2"
                                                    value="option1">
                                                <label class="form-check-label" for="bo2">
                                                    Don't Know
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="bo" id="bo3"
                                                    value="option2">
                                                <label class="form-check-label" for="bo3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-8">
                                            2) Does the building contain three or more dwelling units?
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="bdu" id="bdu1"
                                                    value="option1">
                                                <label class="form-check-label" for="bdu1">
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="bdu"
                                                    onclick="boDK()" id="bdu2" value="option1">
                                                <label class="form-check-label" for="bdu2">
                                                    Don't Know
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="bdu"
                                                    onclick="boNo()" id="bdu3" value="option2">
                                                <label class="form-check-label" for="bdu3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-8">
                                            3) Does the building have one or more wood-frame target stories?
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="wft" id="wft1"
                                                    value="option1">
                                                <label class="form-check-label" for="wft1">
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="wft"
                                                    onclick="boDK()" id="wft2" value="option1">
                                                <label class="form-check-label" for="wft2">
                                                    Don't Know
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="wft"
                                                    onclick="boNo()" id="wft3" value="option2">
                                                <label class="form-check-label" for="wft3">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-left:30px;margin-top:20px;">
                                            <div class="col-md-12">
                                                • If “No,” this Question and Section 6 must be completed by a
                                                California-licensed architect, civil engineer, or
                                                structural engineer.
                                            </div>
                                            <div class="col-md-12">
                                                • If “Yes” or “Don’t know,” a licensed design professional is not
                                                required, and you may skip Section 6 when completing
                                                this form.
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row" id="replaceForm">
                                                <div class="col-md-12" style="margin-left:30px;margin-top:20px;">If
                                                    “No,” indicate
                                                    which of these conditions is true:
                                                </div>
                                                <div class="col-md-12">
                                                    <div style="margin-left:50px">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="wftn"
                                                                id="wftn1" value="option1">
                                                            <label class="form-check-label" for="wftn1">The building
                                                                has no target stories.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">

                                                    <div style="margin-left:50px">
                                                        <div class="form-check form-check-inline col-md-8">
                                                            <input class="form-check-input" type="radio" name="wftn"
                                                                id="wftn2" value="option1">
                                                            <label class="form-check-label" for="wftn2">The building
                                                                has one or more target stories but they are not
                                                                wood-frame.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />









                                    </div>
                                    <hr style="border-top: 4px solid rgba(0, 0, 0, .1);" />
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong>CONCLUSION:</strong>Is the response to ALL THREE questions
                                            either “Yes” or “Don’t know”?
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="cwft" id="cwft1"
                                                    value="option1">
                                                <label class="form-check-label" for="cwft1">
                                                    Yes
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="cwft"
                                                    onclick="boNo()" id="cwft3" value="option2">
                                                <label class="form-check-label" for="cwft3">
                                                    Don’t know
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="margin-top:20px;">
                                            • If “Yes,” the building is confirmed as subject to SJMC Chapter 17.40.
                                            Complete and submit this form.
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;">
                                            • If “No,” the building is exempt from SJMC Chapter 17.40, pending
                                            building department approval. Complete and submit
                                            this form, but skip Section 5.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Collapse Four -->


                        <!-- Collapse Five -->
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    <h5 class="py-2">SECTION 5 – COMPLIANCE GROUP ASSIGNMENT <span
                                            class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse  show  accordion-body"
                                aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    <span style="color:red">If the building is exempt from SJMC Chapter 17.40 (per
                                        Section 3 or the
                                        Conclusion to Section 4), skip this section.</span>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="">
                                                <label class="form-check-label" for="exampleRadios1">
                                                    Yes
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="form-check">
                                                <label class="form-check-label" for="exampleRadios2">
                                                    Don't Know
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            1) Does the building have 5 or more dwelling units?
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check text-center">
                                                <input class="form-check-input " type="radio" name="fdwu"
                                                    onclick="replaceForm(1)" id="fdwu1" value="option1">
                                                <br />
                                                <label class="form-check-label" for="fdwu1">
                                                    <small>Continue with Question 2</small>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check text-center">
                                                <input class="form-check-input" type="radio" name="fdwu"
                                                    onclick="replaceForm(0)" id="fdwu2" value="option2">
                                                <br />
                                                <label class="form-check-label" for="fdwu2">

                                                    <small><b>Assigned to Group 3</b></small><br />
                                                    <small>Skip Question 2. Continue with Section 6, if required, or
                                                        Section 7.</small>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            2. Was the building originally built or permitted for construction
                                            before January 1, 1978 ?
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check text-center">
                                                <input class="form-check-input" type="radio" name="bop"
                                                    onclick="replaceForm(1)" id="bop1" value="option1">
                                                <br />
                                                <label class="form-check-label" for="bop1">
                                                    <small><b>Assigned to Group 1</b></small><br />
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check text-center">
                                                <input class="form-check-input" type="radio" name="bop"
                                                    onclick="replaceForm(0)" id="bop2" value="option2">
                                                <br />
                                                <label class="form-check-label" for="bop2">
                                                    <small><b>Assigned to Group 2</b></small><br />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Collapse Five -->


                        <!-- Collapse Six -->
                        <div class="card" id="dps">
                            <div class="card-header" id="headingSix">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                    <h5 class="py-2">SECTION 6 – DESIGN PROFESSIONAL STATEMENT <span
                                            class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseSix" class="collapse  show  accordion-body"
                                aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body" id="approvalForm">
                                    <span style="color:red">Under penalty of perjury, I certify that the information
                                        provided in Section 3 and/or Section 4, Question 3, of this
                                        Screening Form is based on my personal review of the building and its
                                        records, or review by others acting under my
                                        direct supervision, and is correct to the best of my knowledge.</span>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Firm name</label>
                                            <input type="email" class="form-control" id="firmName">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Design Professional Telephone</label>
                                            <input type="email" class="form-control" id="firmTelephone">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Design Professional Email</label>
                                            <input type="email" class="form-control" id="firmEmail">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">License Number
                                                Code</label>
                                            <input type="text" class="form-control" id="licenseNumber">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Design Professional Email Verification
                                                Code</label>
                                            <input type="text" class="form-control" id="verificationCode">
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <a style="color:#013b49;cursor: pointer;">Get Approval Code in Email</a>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-primary" type="button"
                                                onclick="verifyAndApprove()">Verify and
                                                Approve</button>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div id="approvedForm">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="col-md-12 mt-2">
                                                <h3> Verified and Approved By</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <dl class="row">
                                                    <dt class="col-sm-4">Firm Name</dt>
                                                    <dd class="col-sm-8"><span id="txtFirmName"></span></dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-12">
                                                <dl class="row">
                                                    <dt class="col-sm-4">Telephone</dt>
                                                    <dd class="col-sm-8"><span id="txtTelephone"></span></dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-12">
                                                <dl class="row">
                                                    <dt class="col-sm-4">Email</dt>
                                                    <dd class="col-sm-8"><span id="txtEmail"></span></dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-12">
                                                <dl class="row">
                                                    <dt class="col-sm-4">License Number</dt>
                                                    <dd class="col-sm-8"><span id="txtLicenseNumber"></span></dd>
                                                </dl>
                                            </div>

                                            <div class="col-md-12">
                                                <dl class="row">
                                                    <dt class="col-sm-4">Approval Code</dt>
                                                    <dd class="col-sm-8"><span id="txtApprovalCode"></span></dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-12">
                                                <dl class="row">
                                                    <dt class="col-sm-4">Approved Date</dt>
                                                    <dd class="col-sm-8"><span id="txtDT"></span></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center mt-2">
                                            <img src="/img/approved.jpg" width="200" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header" id="heading7">
                                <a class="accordion-icon" data-toggle="collapse" data-target="#collapse7"
                                    aria-expanded="false" aria-controls="collapse7">
                                    <h5 class="py-2">SECTION 7– OWNER / AGENT STATEMENT <span class="float-right"><i
                                                class="fas fa-angle-down"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapse7" class="collapse  show  accordion-body" aria-labelledby="heading7"
                                data-parent="#accordionExample">
                                <div class="card-body" id="approvalForm">
                                    <span style="color:red">Under penalty of perjury, I certify that the information
                                        I provided in Sections 1 through 5 of this Screening Form is
                                        correct to the best of my knowledge.</span>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div style="margin-left:50px">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox"
                                                        onclick="oachk()" name="replaceform" id="oachk"
                                                        value="option1">
                                                    <label class="form-check-label" for="oachk">If this
                                                        box is checked, a design professional is not required, and
                                                        Section 6 is therefore left blank, consistent with
                                                        the instructions given in Sections 3 and 4.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-5">


                                            <div class="form-check ml-5">
                                                <input class="form-check-input" type="radio" name="oa" id="oa1"
                                                    value="option1">
                                                <label class="form-check-label" for="oa1">
                                                    Owner
                                                </label>
                                            </div>


                                            <div class="form-check ml-5">
                                                <input class="form-check-input" type="radio" name="oa" id="oa2"
                                                    value="option2">
                                                <label class="form-check-label" for="oa2">
                                                    Agent
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <hr />
                                </div>
                            </div>

                        </div>

                        <!-- /Collapse Three -->
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" type="button" onclick="submitScreeningForm()">Submit
                            Screening Form</button>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="submissionMessage">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/img/checkmark.webp" width="200" />
            </div>
            <div class="col-md-12 text-center mb-2">
                <h1>Thank you for submitting the Screening Form.</h1>
            </div>
            <div class="col-md-12 text-center mb-2">
                <h3>Your submission has been received. Your Reference Number : 3T4RD5E7SSL</h3>
            </div>
            <div class="col-md-12 text-center mb-2">
                <h3>Please check your email for confirmation.</h3>
            </div>
            <div class="col-md-12 text-center mb-2">
                <a href="index.html">Home</a>
            </div>
        </div>

    </section>


    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">

        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Terms of use</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies</a>
                <a href="">Help</a>
                <a href="">FQAs</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#"></a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="/screening-form" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>