<div class="container-fluid">
    <div class="row d-flex align-items-end">
        <div class="col-md-9">
            <h4 class="tab-title">Express Time Entry Approval</h4>
            <div class="d-flex justify-content-end">
                <span class="mt-1 me-2">Pay Period #12</span>
                <select class="form-select form-select-sm ml-auto custom-pay-select" aria-label="Default select example">
                    <option selected>Select Pay Period</option>
                    <option value="1">2024-05-26 - 2024-06-08</option>
                    <option value="2">2024-05-26 - 2024-06-08</option>
                    <option value="3">2024-05-26 - 2024-06-08</option>
                </select>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <p class="bg-light text-primary mb-0 fw-bold">Search</p>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column flex-sm-row align-items-end mt-1 gap-2">
                       <div class="w-100">
                        <span>Group</span>
                        <select class="form-select form-select-sm ml-auto custom-group-select w-100" aria-label="Default select example">
                            <option selected>4301-010-Supervisor: Kalayana srinivasan</option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                       </div>
                        <div class="w-100">
                            <span>Wildcard Match</span>
                          <select class="form-select form-select-sm ml-auto custom-group-select w-100">
                            <option selected>-</option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                          </select> 
                        </div>   
                        <div class="d-flex align-items-end w-100 gap-2">
                            <input class="form-control search-text" type="text">
                            <button class="btn btn-secondary" type="button">Search</button>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-3 mt-2">
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                <span>
                                    Show No OVT (Reg+Abs Only)
                                </span>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                <span >
                                    Show OVT Only
                                </span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                <span>
                                    Show No OVT (Reg+Abs Only)
                                </span>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                <span>
                                    Show Non 80 Reg+Abs Only
                                </span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked>
                                <span>
                                    Show Abs Only
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="d-flex gap-2 flex-column col-md-3">
            <div class="d-flex gap-2">
                <button class="btn btn-secondary" type="button">Approve</button>
                <button class="btn btn-secondary" type="button">Unlock</button>
            </div>
            <div class="mb-2">
                <p class="text-primary selectall-text">Select All</p>
            </div>
        </div>  
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12 d-flex align-items-center">
                    <i class="bi bi-caret-down-fill"></i>
                    <span class="text-danger mb-0">Result </span><span class="ms-2"> |</span>
                    <span class="mb-0 ms-2">Find </span><span class="ms-2"> |</span>
                    <i class="bi bi-box-arrow-up-right bold-icon ms-2"></i><span class="ms-2"> |</span>
                    <i class="bi bi-calendar3 ms-2"></i>
                    <span class="ms-2 ms-sm-5 mb-0">1-3 of 3</span>
                </div>
               
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead class="table-heading">
                      <tr>
                        <th scope="col">Approval Group</th>
                        <th scope="col">Description</th>
                        <th scope="col">EmplId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Reg Hrs</th>
                        <th scope="col">Abs Hrs</th>
                        <th scope="col">Total Reg+Abs</th>
                        <th scope="col">OT Hrs</th>
                        <th scope="col">Oth units</th>
                        <th scope="col">Update</th>
                        <th scope="col">Print</th>
                        <th scope="col">Approval status</th>
                        <th scope="col">Comments</th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr *ngFor="let data of _datas">
                          <th scope="row">{{ data.approvalGroup }}</th>
                          <td>SuperVisor:{{ data.description }}</td>
                          <td>{{ data.emplId }}</td>
                          <td>{{ data.name }}</td>
                          <td>{{ data.regHrs }}</td>
                          <td>{{ data.absHrs }}</td>
                          <td>{{ data.totalRegAndAbs }}</td>
                          <td>{{ data.otHrs }}</td>
                          <td>{{ data.othUnits }}</td>
                          <td><input class="form-check-input justify-content-center" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><i class="bi bi-printer text-center"></i></td>
                          <td><mark class="highlight-green">{{ data.approvalStatus }}</mark></td>
                          <td>{{ data.comments }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            
        </div>
            
       
    </div>    
</div>
