<div class="container">
    <div class="section-header text-center mt-3">
        <h3 class="wow fadeInUp" data-wow-delay="0.1s">- Contact Us -</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item">
                <div class="service-img">
                    <i class="fa fa-map-marker-alt location icon"></i>
                    <div class="header">
                        <p>Vesta Thanga Athiya Agency</p>
                        <p>143/3D & 143/3E, Eathamozhi Rd, Maravankudiyruppu,</p>
                        <p>Kottar, Nagercoil, Tamil Nadu 629002,</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item">
                <div class="service-img">
                    <i class="fas fa-mobile icon"></i>
                    <div class="header">
                        <p>Mobile 1 : +91 9443270113</p>
                        <p>Mobile 2 : +91 9443018447</p>
                        <p>Toll Free Number : 1800 120 911 900</p>
                    </div>
                </div>
            </div> 
        </div>            
    </div>
    <div class="row mt-3">
        <div class="col-md-12 col-sm-12 col-12">
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89357.84124439699!2d77.32108664566067!3d8.19312008398959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f1d9b680af1d%3A0xab30c235a8ff7983!2sVesta%20Thanga%20Aathiya%20Agency!5e0!3m2!1sen!2sin!4v1719207223257!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
