.full-height {
    min-height: 100vh; /* Ensure the container takes the full viewport height */
}
.fact-icon{
    font-size: 50px;
}
.headTitle{
    font-size: 24px;
    color: #d0b024;
    font-weight: 800;
}