<div class="wrapper">
 
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100 full-height mb-0">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-12 col-lg-12">
                <img src="../../assets/img/vesta-products-main.png" class="img-fluid mx-auto d-block" alt="Product Image"/>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-light btn-style p-2" [routerLink]="['/all-products']">View All Products</button>
            </div>
        </div>
    </div>
    
    
    <!-- Fact Start -->
    <div class="fact">
        <div class="container-fluid">
            <div class="row counters mt-0">
                <div class="col-md-6 fact-left wow slideInLeft">
                    <div class="row">
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="fas fa-code-branch"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">100+</h2>
                                <p>Branches</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="fa fa-handshake"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">500+</h2>
                                <p>Sub Dealers</p>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6 fact-right wow slideInRight">
                    <div class="row">
                        <div class="col-6">
                            <div class="fact-icon">
                                <i class="fa-solid fa-ice-cream icon"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">20+</h2>
                                <p>Flavours</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fact-icon">
                            
                                <i class="fa-solid fa-mortar-pestle"></i>
                            </div>
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">30+</h2>
                                <p>Varieties</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->
     <app-explore-ice-cream></app-explore-ice-cream>
     <app-ourshop></app-ourshop>
     <app-viewvideos></app-viewvideos>

</div>